@page "/edit/{id:int}"
@using Server.Services
@using global::Shared
@inject ISinhVienService SinhVienService
@inject NavigationManager NavigationManager

<h3>Edit</h3>

<EditForm Model="SinhVien" OnValidSubmit="SubmitForm">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>
    <div>
        <label>Name: </label>
        <InputText @bind-Value="SinhVien.Name"></InputText>
    </div>
    <div>
        <label>Age: </label>
        <InputNumber @bind-Value="SinhVien.Age"></InputNumber>
    </div>
    <button type="submit">Edit</button>
</EditForm>

@code {
    [Parameter]
    public int Id { get; set; }
    private SinhVien SinhVien = new SinhVien();

    protected async override Task OnInitializedAsync()
    {
        SinhVien = await SinhVienService.GetById(Id);
    }

    private async Task SubmitForm()
    {
        await SinhVienService.Update(SinhVien);
        NavigationManager.NavigateTo("/listsinhvien");
    }
}
