@page "/upload"

<h3>UploadRoot</h3>

<InputFile OnChange="FileSelected" accept=".jpg,.jpeg,.tiff"></InputFile>
<button @onclick="UploadFile">Upload</button>

@code {
    private IBrowserFile file;

    private async Task FileSelected(InputFileChangeEventArgs e)
    {
        file = e.File;
    }

    private async Task UploadFile()
    {
        var filePath = Path.Combine(Directory.GetCurrentDirectory(), "wwwroot/uploads", file.Name);
        using (var stream = new FileStream(filePath, FileMode.Create))
        {
            await file.OpenReadStream().CopyToAsync(stream);
        }
    }
}
